@import "monokai.css";
@import "note.css";

.madtinker_main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
    }

.post-content {
        font-size: 1.3em;
}

.container {
        max-width: 840px;

}

a.nobr {

font-size: 16px;
color:dodgerblue
}

a.nobr:hover {

        font-size: 16px;
        color:dodgerblue
        }

.active {
                color: rgb(44, 40, 40);
                background-color: grey;
                padding: 5px;
                border-radius: 5;
            }