@import "monokai.css";
@import "note.css";

.madtinker_main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
    }

.post-content {
        font-size: 1.3em;
}

.container {
        max-width: 840px;

}

a.nobr {

font-size: 16px;
color:dodgerblue
}

a.nobr:hover {

        font-size: 16px;
        color:dodgerblue
        }

.active {

            }

.menus-title {
                display: inline-block;
                margin: 10px 5px;
                padding: 10px 25px 13px;
                font-size: 1.3em;
                color: #868e96;
                background-color: transparent;
                border: none;
                border-radius: 22px;
                transition: font-weight 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.menus-title:focus, .menus-title:active, .menus-title.active {
        color: #495057;
        font-weight: 700;
        background-color: #f1f3f5;
}