---
layout: default
---

<h1>
  Archive
  {% if page.type and page.title %}
    of {{ page.type }} '{{ page.title }}'
  {% endif %}
</h1>

<ul class="posts">

  {% if page.type == "category" %}
    {% assign posts = site.categories[page.title] %}
  {% elsif page.type == "tag" %}
    {% assign posts = site.tags[page.title] %}
  {% elsif page.posts %}
    {% assign posts = page.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% for post in posts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}

</ul>